.sidebar{
 
  height: 100vh;
   width: 250px; 
background-color: rgb(255, 255, 255);
/* position: fixed; */

}
.dashHedaing{
    padding-top: 10px;
    font-size: large;
   
    color: gray;
    padding-left: 15px;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.side{
    background-color: rgb(255, 255, 255);
    font-size: large;
}
.submenu1,.submenu2,.submenu3{
 font-size: small;
 


}
.menuitem1,.menuitem2,.menuitem3{
    font-size: small;
    
}

/* new design----------------- testingggg */
.list-items{
  
    list-style: none;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    padding-left: 0;
}
.list-items a{
    color: gray;
    text-decoration: none;
}
.list-items, .head-list{
    font-size: small;
   
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.sub-list{
 
    font-weight: normal;
    padding: 3px;
    padding-left: 24px;
    font-size: 13px;
}

a:hover {
    color: var(--primary-color);
}
.Container{
position: fixed;
position: revert-layer ;
}

